
/* globals.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden; /* Side scroll bar hataane ke liye */
  margin: 0 !important;
  padding: 0 !important;
   scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
